<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947098512693-sjbpt81n97lf7tnc2v8tu40elt7msgse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947098512693-sjbpt81n97lf7tnc2v8tu40elt7msgse</string>
	<key>API_KEY</key>
	<string>AIzaSyCo9snf1xoMCTx7drs1XFaf3VoD-BUtjU0</string>
	<key>GCM_SENDER_ID</key>
	<string>947098512693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kmitina.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-a291d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-a291d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947098512693:ios:4d7644238fec8085a0707c</string>
</dict>
</plist>